<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="TargetFolder">
      <Component Id="Id_ICSharpCode_TextEditor_dll_573264019_WixComponent" Guid="7821690C-2852-46B5-96BA-843EDD147F6A" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1113297528_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_807303147_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_ICSharpCode_TextEditor_dll_2107686211_WixFile" Name="ICSharpCode.TextEditor.dll" KeyPath="yes" Source="C:\Dev\github-trondr\Log2Console\bin\Debug\Log2Console\Libs\ICSharpCode.TextEditor.dll" />
      </Component>
      <Component Id="Id_log4net_dll_625423415_WixComponent" Guid="52131A8C-EE07-4DB7-8F66-4591A892F042" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_179497856_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_1458542002_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_log4net_dll_204995631_WixFile" Name="log4net.dll" KeyPath="yes" Source="C:\Dev\github-trondr\Log2Console\bin\Debug\Log2Console\Libs\log4net.dll" />
      </Component>
      <Component Id="Id_RichTextBoxLinks_dll_506311126_WixComponent" Guid="D9C2C8AF-D293-488A-AA22-81791E9E7747" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1782528128_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_718084875_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_RichTextBoxLinks_dll_1100218604_WixFile" Name="RichTextBoxLinks.dll" KeyPath="yes" Source="C:\Dev\github-trondr\Log2Console\bin\Debug\Log2Console\Libs\RichTextBoxLinks.dll" />
      </Component>
      <Directory Id="Id_NMultiTool_409536789_WixDirectory" Name="NMultiTool">
        <Component Id="Id_Castle_Core_dll_1745348825_WixComponent" Guid="D62B702D-4443-4EC7-9D58-18AE085287BF" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1459410632_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1850633876_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Castle_Core_dll_247058409_WixFile" Name="Castle.Core.dll" KeyPath="yes" Source="C:\Dev\github-trondr\Log2Console\bin\Debug\Log2Console\Libs\NMultiTool\Castle.Core.dll" />
        </Component>
        <Component Id="Id_Castle_Windsor_dll_891819557_WixComponent" Guid="1872B900-D5B2-4607-A7D0-0FF023CE51F6" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_301906795_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1181623009_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Castle_Windsor_dll_1950187639_WixFile" Name="Castle.Windsor.dll" KeyPath="yes" Source="C:\Dev\github-trondr\Log2Console\bin\Debug\Log2Console\Libs\NMultiTool\Castle.Windsor.dll" />
        </Component>
        <Component Id="Id_Common_Logging_Core_dll_372999141_WixComponent" Guid="445ACF64-1172-49DE-87EF-9DCD7CE4CF9F" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_797485485_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1767594256_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_Core_dll_1328136838_WixFile" Name="Common.Logging.Core.dll" KeyPath="yes" Source="C:\Dev\github-trondr\Log2Console\bin\Debug\Log2Console\Libs\NMultiTool\Common.Logging.Core.dll" />
        </Component>
        <Component Id="Id_Common_Logging_Core_pdb_120126144_WixComponent" Guid="2892E8D5-F117-4B4B-8287-D036DC0791EE" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_370720883_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_154499884_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_Core_pdb_1465009200_WixFile" Name="Common.Logging.Core.pdb" KeyPath="yes" Source="C:\Dev\github-trondr\Log2Console\bin\Debug\Log2Console\Libs\NMultiTool\Common.Logging.Core.pdb" />
        </Component>
        <Component Id="Id_Common_Logging_dll_792062201_WixComponent" Guid="2EB0F4D0-5B57-439F-B702-A00C7E5951D3" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1679974445_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_909132902_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_dll_1912232852_WixFile" Name="Common.Logging.dll" KeyPath="yes" Source="C:\Dev\github-trondr\Log2Console\bin\Debug\Log2Console\Libs\NMultiTool\Common.Logging.dll" />
        </Component>
        <Component Id="Id_Common_Logging_Log4Net1213_dll_579757273_WixComponent" Guid="26614E96-BC42-4875-BFE8-684E3E86BDBD" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_897545553_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1517676303_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_Log4Net1213_dll_880857321_WixFile" Name="Common.Logging.Log4Net1213.dll" KeyPath="yes" Source="C:\Dev\github-trondr\Log2Console\bin\Debug\Log2Console\Libs\NMultiTool\Common.Logging.Log4Net1213.dll" />
        </Component>
        <Component Id="Id_Common_Logging_Log4Net1213_pdb_853403431_WixComponent" Guid="F7C85F6D-3D33-4C8C-B1B8-E56C712BE5DA" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1990858129_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1347621833_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_Log4Net1213_pdb_784819933_WixFile" Name="Common.Logging.Log4Net1213.pdb" KeyPath="yes" Source="C:\Dev\github-trondr\Log2Console\bin\Debug\Log2Console\Libs\NMultiTool\Common.Logging.Log4Net1213.pdb" />
        </Component>
        <Component Id="Id_Common_Logging_pdb_2143063555_WixComponent" Guid="5C4D312A-9163-4CA8-8530-CFD2050BFD91" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_395796923_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1227019650_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_pdb_1901751198_WixFile" Name="Common.Logging.pdb" KeyPath="yes" Source="C:\Dev\github-trondr\Log2Console\bin\Debug\Log2Console\Libs\NMultiTool\Common.Logging.pdb" />
        </Component>
        <Component Id="Id_log4net_dll_2003601798_WixComponent" Guid="001B62CA-7784-48E0-952B-8BD11D43FC10" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_638450690_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1895809771_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_log4net_dll_79355063_WixFile" Name="log4net.dll" KeyPath="yes" Source="C:\Dev\github-trondr\Log2Console\bin\Debug\Log2Console\Libs\NMultiTool\log4net.dll" />
        </Component>
        <Component Id="Id_Magick_NET_Q16_AnyCPU_dll_534138253_WixComponent" Guid="AA4B4496-12F5-4165-BEA3-90A1B6D8015D" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_2109678582_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1572963398_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Magick_NET_Q16_AnyCPU_dll_1620846324_WixFile" Name="Magick.NET-Q16-AnyCPU.dll" KeyPath="yes" Source="C:\Dev\github-trondr\Log2Console\bin\Debug\Log2Console\Libs\NMultiTool\Magick.NET-Q16-AnyCPU.dll" />
        </Component>
        <Component Id="Id_Microsoft_Web_XmlTransform_dll_58233412_WixComponent" Guid="897B1345-3E0C-4310-82D9-075D7C097335" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_892951129_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_200264878_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Microsoft_Web_XmlTransform_dll_315812043_WixFile" Name="Microsoft.Web.XmlTransform.dll" KeyPath="yes" Source="C:\Dev\github-trondr\Log2Console\bin\Debug\Log2Console\Libs\NMultiTool\Microsoft.Web.XmlTransform.dll" />
        </Component>
        <Component Id="Id_NCmdLiner_dll_1187192538_WixComponent" Guid="97874FAD-D272-47AB-9FC4-11A76D2BE1E2" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_779549373_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_505297271_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NCmdLiner_dll_1956260620_WixFile" Name="NCmdLiner.dll" KeyPath="yes" Source="C:\Dev\github-trondr\Log2Console\bin\Debug\Log2Console\Libs\NMultiTool\NCmdLiner.dll" />
        </Component>
        <Component Id="Id_Newtonsoft_Json_dll_1304042118_WixComponent" Guid="B38CD3CD-C276-4368-A365-6C0B5FB5427C" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_887470078_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1861732572_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Newtonsoft_Json_dll_102553683_WixFile" Name="Newtonsoft.Json.dll" KeyPath="yes" Source="C:\Dev\github-trondr\Log2Console\bin\Debug\Log2Console\Libs\NMultiTool\Newtonsoft.Json.dll" />
        </Component>
        <Component Id="Id_NMultiTool_exe_1956435620_WixComponent" Guid="B8AF69BC-8CD2-4582-9EFD-17E7F61C0499" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1335469399_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1977263163_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_exe_847803272_WixFile" Name="NMultiTool.exe" KeyPath="yes" Source="C:\Dev\github-trondr\Log2Console\bin\Debug\Log2Console\Libs\NMultiTool\NMultiTool.exe" />
        </Component>
        <Component Id="Id_NMultiTool_exe_config_2089217976_WixComponent" Guid="546EEBEE-D8C9-40D7-97CB-2650D3EA52B5" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_969776555_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1541138625_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_exe_config_1048445075_WixFile" Name="NMultiTool.exe.config" KeyPath="yes" Source="C:\Dev\github-trondr\Log2Console\bin\Debug\Log2Console\Libs\NMultiTool\NMultiTool.exe.config" />
        </Component>
        <Component Id="Id_NMultiTool_Gui_exe_1101768609_WixComponent" Guid="5426B529-317C-420C-BBE9-BCBA847A3A70" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_396803076_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1954607731_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Gui_exe_2124685865_WixFile" Name="NMultiTool.Gui.exe" KeyPath="yes" Source="C:\Dev\github-trondr\Log2Console\bin\Debug\Log2Console\Libs\NMultiTool\NMultiTool.Gui.exe" />
        </Component>
        <Component Id="Id_NMultiTool_Gui_exe_config_1717949482_WixComponent" Guid="6C25A62E-987A-42C3-B333-AA0D24799129" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_2013326705_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1472018687_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Gui_exe_config_1629159101_WixFile" Name="NMultiTool.Gui.exe.config" KeyPath="yes" Source="C:\Dev\github-trondr\Log2Console\bin\Debug\Log2Console\Libs\NMultiTool\NMultiTool.Gui.exe.config" />
        </Component>
        <Component Id="Id_NMultiTool_Gui_pdb_622394759_WixComponent" Guid="AE5FBFE1-87D1-43A9-95EB-7089D6D89374" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_75144821_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_930870947_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Gui_pdb_829867266_WixFile" Name="NMultiTool.Gui.pdb" KeyPath="yes" Source="C:\Dev\github-trondr\Log2Console\bin\Debug\Log2Console\Libs\NMultiTool\NMultiTool.Gui.pdb" />
        </Component>
        <Component Id="Id_NMultiTool_Library_dll_107011047_WixComponent" Guid="6A2E4432-0446-4DFD-B41B-5E02216BDEDC" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1435770225_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1853999440_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Library_dll_1834289791_WixFile" Name="NMultiTool.Library.dll" KeyPath="yes" Source="C:\Dev\github-trondr\Log2Console\bin\Debug\Log2Console\Libs\NMultiTool\NMultiTool.Library.dll" />
        </Component>
        <Component Id="Id_NMultiTool_Library_pdb_697280675_WixComponent" Guid="08E8BD8B-32B3-4CBB-90AA-8D52F069F3AF" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1201864260_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1841148430_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Library_pdb_73854058_WixFile" Name="NMultiTool.Library.pdb" KeyPath="yes" Source="C:\Dev\github-trondr\Log2Console\bin\Debug\Log2Console\Libs\NMultiTool\NMultiTool.Library.pdb" />
        </Component>
        <Component Id="Id_NMultiTool_pdb_1485560858_WixComponent" Guid="6FAAAA42-CD95-40D3-B1E7-8B0C77A4C1E3" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1538844860_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1628261462_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_pdb_1255593477_WixFile" Name="NMultiTool.pdb" KeyPath="yes" Source="C:\Dev\github-trondr\Log2Console\bin\Debug\Log2Console\Libs\NMultiTool\NMultiTool.pdb" />
        </Component>
        <Component Id="Id_NuGet_Core_dll_681547998_WixComponent" Guid="F83C58FF-0EA9-4112-ADC5-6B2A67165F95" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1124465967_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_2092799225_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NuGet_Core_dll_668132399_WixFile" Name="NuGet.Core.dll" KeyPath="yes" Source="C:\Dev\github-trondr\Log2Console\bin\Debug\Log2Console\Libs\NMultiTool\NuGet.Core.dll" />
        </Component>
      </Directory>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Components_WiXComponentGroup">
      <ComponentRef Id="Id_ICSharpCode_TextEditor_dll_573264019_WixComponent" />
      <ComponentRef Id="Id_log4net_dll_625423415_WixComponent" />
      <ComponentRef Id="Id_RichTextBoxLinks_dll_506311126_WixComponent" />
      <ComponentRef Id="Id_Castle_Core_dll_1745348825_WixComponent" />
      <ComponentRef Id="Id_Castle_Windsor_dll_891819557_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Core_dll_372999141_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Core_pdb_120126144_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_dll_792062201_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Log4Net1213_dll_579757273_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Log4Net1213_pdb_853403431_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_pdb_2143063555_WixComponent" />
      <ComponentRef Id="Id_log4net_dll_2003601798_WixComponent" />
      <ComponentRef Id="Id_Magick_NET_Q16_AnyCPU_dll_534138253_WixComponent" />
      <ComponentRef Id="Id_Microsoft_Web_XmlTransform_dll_58233412_WixComponent" />
      <ComponentRef Id="Id_NCmdLiner_dll_1187192538_WixComponent" />
      <ComponentRef Id="Id_Newtonsoft_Json_dll_1304042118_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_exe_1956435620_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_exe_config_2089217976_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Gui_exe_1101768609_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Gui_exe_config_1717949482_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Gui_pdb_622394759_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Library_dll_107011047_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Library_pdb_697280675_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_pdb_1485560858_WixComponent" />
      <ComponentRef Id="Id_NuGet_Core_dll_681547998_WixComponent" />
    </ComponentGroup>
  </Fragment>
</Wix>