<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="TargetFolder">
      <Component Id="Id_ICSharpCode_TextEditor_dll_532281013_WixComponent" Guid="B6084CEB-0A59-4AB0-97AC-F10B86A1B941" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_679463920_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_823472084_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_ICSharpCode_TextEditor_dll_1431243764_WixFile" Name="ICSharpCode.TextEditor.dll" KeyPath="yes" Source="C:\Dev\github-trondr\Log2Console\bin\Debug\Log2Console\Libs\ICSharpCode.TextEditor.dll" />
      </Component>
      <Component Id="Id_log4net_dll_1654881532_WixComponent" Guid="0DD71BD9-C657-43D8-A291-4A0E23D5D7AD" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_1374499773_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_359858451_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_log4net_dll_176632555_WixFile" Name="log4net.dll" KeyPath="yes" Source="C:\Dev\github-trondr\Log2Console\bin\Debug\Log2Console\Libs\log4net.dll" />
      </Component>
      <Component Id="Id_RichTextBoxLinks_dll_2125785280_WixComponent" Guid="CF1E1CD4-CE70-4C32-81D4-F72D4369AB9A" DiskId="1">
        <CreateFolder />
        <RemoveFolder Id="Id_Libs_857107027_WixRemoveFolder" On="uninstall" />
        <RemoveFile Id="Id_Libs_535811993_WixRemoveFile" Name="*.*" On="uninstall" />
        <File Id="Id_RichTextBoxLinks_dll_298079038_WixFile" Name="RichTextBoxLinks.dll" KeyPath="yes" Source="C:\Dev\github-trondr\Log2Console\bin\Debug\Log2Console\Libs\RichTextBoxLinks.dll" />
      </Component>
      <Directory Id="Id_NMultiTool_1855557806_WixDirectory" Name="NMultiTool">
        <Component Id="Id_Castle_Core_dll_357586515_WixComponent" Guid="C2A97B97-E898-4527-928C-2A78EA346812" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_2086194953_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_747984837_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Castle_Core_dll_1285949303_WixFile" Name="Castle.Core.dll" KeyPath="yes" Source="C:\Dev\github-trondr\Log2Console\bin\Debug\Log2Console\Libs\NMultiTool\Castle.Core.dll" />
        </Component>
        <Component Id="Id_Castle_Windsor_dll_1277948968_WixComponent" Guid="6F66D071-B88C-461E-9F5B-BF49C06CF831" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_2070019534_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_971622762_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Castle_Windsor_dll_660807418_WixFile" Name="Castle.Windsor.dll" KeyPath="yes" Source="C:\Dev\github-trondr\Log2Console\bin\Debug\Log2Console\Libs\NMultiTool\Castle.Windsor.dll" />
        </Component>
        <Component Id="Id_Common_Logging_Core_dll_163201998_WixComponent" Guid="488973D9-09FB-4207-AA95-835C1FC0343E" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_459145126_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1683754616_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_Core_dll_2023172485_WixFile" Name="Common.Logging.Core.dll" KeyPath="yes" Source="C:\Dev\github-trondr\Log2Console\bin\Debug\Log2Console\Libs\NMultiTool\Common.Logging.Core.dll" />
        </Component>
        <Component Id="Id_Common_Logging_Core_pdb_2009675582_WixComponent" Guid="C743DAD1-CEAF-4FD4-ACD0-4FE04129EE4F" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1384493227_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_297737800_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_Core_pdb_1090393228_WixFile" Name="Common.Logging.Core.pdb" KeyPath="yes" Source="C:\Dev\github-trondr\Log2Console\bin\Debug\Log2Console\Libs\NMultiTool\Common.Logging.Core.pdb" />
        </Component>
        <Component Id="Id_Common_Logging_dll_252875689_WixComponent" Guid="BE197FAF-822E-4263-AF1F-4A10BADA8DF6" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1019338323_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1176648357_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_dll_223937691_WixFile" Name="Common.Logging.dll" KeyPath="yes" Source="C:\Dev\github-trondr\Log2Console\bin\Debug\Log2Console\Libs\NMultiTool\Common.Logging.dll" />
        </Component>
        <Component Id="Id_Common_Logging_Log4Net1213_dll_1106771650_WixComponent" Guid="65B0B2DF-D1AC-44B4-9C65-A6E7CA3C5BB9" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_709903182_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_496948990_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_Log4Net1213_dll_1724709909_WixFile" Name="Common.Logging.Log4Net1213.dll" KeyPath="yes" Source="C:\Dev\github-trondr\Log2Console\bin\Debug\Log2Console\Libs\NMultiTool\Common.Logging.Log4Net1213.dll" />
        </Component>
        <Component Id="Id_Common_Logging_Log4Net1213_pdb_752811835_WixComponent" Guid="10635225-22D8-472A-89B4-3391CAA21B1A" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_899510565_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1551825439_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_Log4Net1213_pdb_493037620_WixFile" Name="Common.Logging.Log4Net1213.pdb" KeyPath="yes" Source="C:\Dev\github-trondr\Log2Console\bin\Debug\Log2Console\Libs\NMultiTool\Common.Logging.Log4Net1213.pdb" />
        </Component>
        <Component Id="Id_Common_Logging_pdb_620688920_WixComponent" Guid="8F002B9E-8021-49EA-98BB-2D8F3D9967B9" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1148266399_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_592215348_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Common_Logging_pdb_551408167_WixFile" Name="Common.Logging.pdb" KeyPath="yes" Source="C:\Dev\github-trondr\Log2Console\bin\Debug\Log2Console\Libs\NMultiTool\Common.Logging.pdb" />
        </Component>
        <Component Id="Id_log4net_dll_940471931_WixComponent" Guid="B7F7B8C4-7F7C-453E-B840-FE8D50151977" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1334161612_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_881002653_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_log4net_dll_580753774_WixFile" Name="log4net.dll" KeyPath="yes" Source="C:\Dev\github-trondr\Log2Console\bin\Debug\Log2Console\Libs\NMultiTool\log4net.dll" />
        </Component>
        <Component Id="Id_Magick_NET_Q16_AnyCPU_dll_957081374_WixComponent" Guid="5AD5EBA7-8DAA-46E0-8572-1F52C64D7792" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1198795394_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_2115055383_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Magick_NET_Q16_AnyCPU_dll_1691553866_WixFile" Name="Magick.NET-Q16-AnyCPU.dll" KeyPath="yes" Source="C:\Dev\github-trondr\Log2Console\bin\Debug\Log2Console\Libs\NMultiTool\Magick.NET-Q16-AnyCPU.dll" />
        </Component>
        <Component Id="Id_Microsoft_Web_XmlTransform_dll_1941743154_WixComponent" Guid="244B3228-50AC-4065-9603-8DF529EB2B66" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_605988506_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_369079015_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Microsoft_Web_XmlTransform_dll_220318794_WixFile" Name="Microsoft.Web.XmlTransform.dll" KeyPath="yes" Source="C:\Dev\github-trondr\Log2Console\bin\Debug\Log2Console\Libs\NMultiTool\Microsoft.Web.XmlTransform.dll" />
        </Component>
        <Component Id="Id_NCmdLiner_dll_1287201115_WixComponent" Guid="394D45C4-7FF9-4D1B-A858-B3D6E472ACBE" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1555554926_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1792689597_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NCmdLiner_dll_2137490193_WixFile" Name="NCmdLiner.dll" KeyPath="yes" Source="C:\Dev\github-trondr\Log2Console\bin\Debug\Log2Console\Libs\NMultiTool\NCmdLiner.dll" />
        </Component>
        <Component Id="Id_Newtonsoft_Json_dll_62120651_WixComponent" Guid="046CD510-6F4B-423A-B8EE-45B1522FE533" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1233722974_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1872909591_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_Newtonsoft_Json_dll_1985252351_WixFile" Name="Newtonsoft.Json.dll" KeyPath="yes" Source="C:\Dev\github-trondr\Log2Console\bin\Debug\Log2Console\Libs\NMultiTool\Newtonsoft.Json.dll" />
        </Component>
        <Component Id="Id_NMultiTool_exe_1506647283_WixComponent" Guid="5D1B59CE-A6BD-4F4D-B39A-175DD688D703" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_74141347_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_748786156_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_exe_1795166980_WixFile" Name="NMultiTool.exe" KeyPath="yes" Source="C:\Dev\github-trondr\Log2Console\bin\Debug\Log2Console\Libs\NMultiTool\NMultiTool.exe" />
        </Component>
        <Component Id="Id_NMultiTool_exe_config_1589245963_WixComponent" Guid="1B91A03B-0A2C-4EB3-B74E-11DDB38F336A" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1170758575_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_533137468_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_exe_config_378438403_WixFile" Name="NMultiTool.exe.config" KeyPath="yes" Source="C:\Dev\github-trondr\Log2Console\bin\Debug\Log2Console\Libs\NMultiTool\NMultiTool.exe.config" />
        </Component>
        <Component Id="Id_NMultiTool_Gui_exe_518194095_WixComponent" Guid="E7232844-DEBF-4FD1-8155-BC2DCFEB292A" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_478585142_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_40118498_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Gui_exe_1162419246_WixFile" Name="NMultiTool.Gui.exe" KeyPath="yes" Source="C:\Dev\github-trondr\Log2Console\bin\Debug\Log2Console\Libs\NMultiTool\NMultiTool.Gui.exe" />
        </Component>
        <Component Id="Id_NMultiTool_Gui_exe_config_2014413425_WixComponent" Guid="60C5E487-DC38-4772-BECD-F3452442ED82" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1132346449_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1082700554_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Gui_exe_config_675513970_WixFile" Name="NMultiTool.Gui.exe.config" KeyPath="yes" Source="C:\Dev\github-trondr\Log2Console\bin\Debug\Log2Console\Libs\NMultiTool\NMultiTool.Gui.exe.config" />
        </Component>
        <Component Id="Id_NMultiTool_Gui_pdb_503490574_WixComponent" Guid="503AA9E4-8295-4ED5-AF86-C3987806818A" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1864467673_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_133311854_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Gui_pdb_1201563942_WixFile" Name="NMultiTool.Gui.pdb" KeyPath="yes" Source="C:\Dev\github-trondr\Log2Console\bin\Debug\Log2Console\Libs\NMultiTool\NMultiTool.Gui.pdb" />
        </Component>
        <Component Id="Id_NMultiTool_Library_dll_1051766587_WixComponent" Guid="21B69C4A-6A4C-4097-9383-4E930CC1AD9D" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1632578138_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_429678184_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Library_dll_500783144_WixFile" Name="NMultiTool.Library.dll" KeyPath="yes" Source="C:\Dev\github-trondr\Log2Console\bin\Debug\Log2Console\Libs\NMultiTool\NMultiTool.Library.dll" />
        </Component>
        <Component Id="Id_NMultiTool_Library_pdb_340824167_WixComponent" Guid="0CF962E7-E6E6-494D-991B-1B5467A2F0A3" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_276630196_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_437508794_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_Library_pdb_1344740556_WixFile" Name="NMultiTool.Library.pdb" KeyPath="yes" Source="C:\Dev\github-trondr\Log2Console\bin\Debug\Log2Console\Libs\NMultiTool\NMultiTool.Library.pdb" />
        </Component>
        <Component Id="Id_NMultiTool_pdb_1254304615_WixComponent" Guid="997DBF04-47FA-40F6-85D0-CC540FDF91D9" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_1561818893_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_430916969_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NMultiTool_pdb_1534449593_WixFile" Name="NMultiTool.pdb" KeyPath="yes" Source="C:\Dev\github-trondr\Log2Console\bin\Debug\Log2Console\Libs\NMultiTool\NMultiTool.pdb" />
        </Component>
        <Component Id="Id_NuGet_Core_dll_1422840455_WixComponent" Guid="6137B4DE-ED6E-4EA8-9BAF-F814ADA079C7" DiskId="1">
          <CreateFolder />
          <RemoveFolder Id="Id_NMultiTool_754446644_WixRemoveFolder" On="uninstall" />
          <RemoveFile Id="Id_NMultiTool_1192244531_WixRemoveFile" Name="*.*" On="uninstall" />
          <File Id="Id_NuGet_Core_dll_866330584_WixFile" Name="NuGet.Core.dll" KeyPath="yes" Source="C:\Dev\github-trondr\Log2Console\bin\Debug\Log2Console\Libs\NMultiTool\NuGet.Core.dll" />
        </Component>
      </Directory>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Components_WiXComponentGroup">
      <ComponentRef Id="Id_ICSharpCode_TextEditor_dll_532281013_WixComponent" />
      <ComponentRef Id="Id_log4net_dll_1654881532_WixComponent" />
      <ComponentRef Id="Id_RichTextBoxLinks_dll_2125785280_WixComponent" />
      <ComponentRef Id="Id_Castle_Core_dll_357586515_WixComponent" />
      <ComponentRef Id="Id_Castle_Windsor_dll_1277948968_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Core_dll_163201998_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Core_pdb_2009675582_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_dll_252875689_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Log4Net1213_dll_1106771650_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_Log4Net1213_pdb_752811835_WixComponent" />
      <ComponentRef Id="Id_Common_Logging_pdb_620688920_WixComponent" />
      <ComponentRef Id="Id_log4net_dll_940471931_WixComponent" />
      <ComponentRef Id="Id_Magick_NET_Q16_AnyCPU_dll_957081374_WixComponent" />
      <ComponentRef Id="Id_Microsoft_Web_XmlTransform_dll_1941743154_WixComponent" />
      <ComponentRef Id="Id_NCmdLiner_dll_1287201115_WixComponent" />
      <ComponentRef Id="Id_Newtonsoft_Json_dll_62120651_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_exe_1506647283_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_exe_config_1589245963_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Gui_exe_518194095_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Gui_exe_config_2014413425_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Gui_pdb_503490574_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Library_dll_1051766587_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_Library_pdb_340824167_WixComponent" />
      <ComponentRef Id="Id_NMultiTool_pdb_1254304615_WixComponent" />
      <ComponentRef Id="Id_NuGet_Core_dll_1422840455_WixComponent" />
    </ComponentGroup>
  </Fragment>
</Wix>